<div class="container">
    <div class="row">
        <!-- Today's schedule -->
        <div class="col-lg-12">
            <app-main-schedule></app-main-schedule>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <!-- News -->
            <app-carousel></app-carousel>
            <!-- Yesterday's scores -->
            <app-main-scores></app-main-scores>
            <!-- Leaderboard -->
            <app-leaderboard></app-leaderboard>
        </div>
        <!-- Standings -->
        <div class="col-lg-4">
            <app-division [division]="'atlantic'"></app-division>
            <app-division [division]="'metro'"></app-division>
            <app-division [division]="'central'"></app-division>
            <app-division [division]="'pacific'"></app-division>
        </div>
    </div>
</div>
