<div>
  <div class="row">
    <div class="col-md-6">
      <app-leaderboard-element [type]="'skaters'"></app-leaderboard-element>
    </div>
    <div class="col-md-6">
      <app-leaderboard-element [type]="'defensemen'"></app-leaderboard-element>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-leaderboard-element [type]="'skaters'"></app-leaderboard-element>
    </div>
    <div class="col-md-6">
      <app-leaderboard-element [type]="'defensemen'"></app-leaderboard-element>
    </div>
  </div>
</div>
