<div>
  <div class="row">
    <div class="col-md-6">
      <h4>Skaters</h4>
      <app-leaderboard-element [type]="'skaters'"></app-leaderboard-element>
    </div>
    <div class="col-md-6">
      <h4>Defensemen</h4>
      <app-leaderboard-element [type]="'defensemen'"></app-leaderboard-element>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Goalies</h4>
      <app-leaderboard-element [type]="'goalies'"></app-leaderboard-element>
    </div>
    <div class="col-md-6">
      <h4>Rookies</h4>
      <app-leaderboard-element [type]="'rookies'"></app-leaderboard-element>
    </div>
  </div>
</div>
