#scoresView {
  overflow-x: auto;
  margin-bottom: 1em;
  width: 100%;
  padding-bottom: 2em;
}
.list-group {
  padding-left: 0;
}
.list-group-item {
  padding-left: 0;
  padding-right: 3em;
}
li {
  border-width: 0;
}
