<nav>
  <div class="nav nav-tabs" [id]="type" role="tablist">
    <a class="nav-item nav-link active" [id]="type+statALabel" data-toggle="tab" [href]="'#'+type+statALabel+'link'" role="tab" [attr.aria-controls]="type+statALabel" aria-selected="true">{{ statALabel }}</a>
    <a class="nav-item nav-link" [id]="type+statBLabel" data-toggle="tab" [href]="'#'+type+statBLabel+'link'" role="tab" [attr.aria-controls]="type+statBLabel" aria-selected="false">{{ statBLabel }}</a>
    <a class="nav-item nav-link" [id]="type+statCLabel" data-toggle="tab" [href]="'#'+type+statCLabel+'link'" role="tab" [attr.aria-controls]="type+statCLabel" aria-selected="false">{{ statCLabel }}</a>
  </div>
</nav>
<div class="tab-content" [id]="type+'_content'">
  <div class="tab-pane fade show active" [id]="type+statALabel+'link'" role="tabpanel" [attr.aria-labelledby]="type+statALabel">
    <ol>
      <li *ngFor="let player of statAData">{{ player['player']['fullName'] + ' (' + player[statALabel] + ')'}}</li>
    </ol>
  </div>
  <div class="tab-pane fade" [id]="type+statBLabel+'link'" role="tabpanel" [attr.aria-labelledby]="type+statBLabel">
    <ol>
      <li *ngFor="let player of statBData">{{ player['player']['fullName'] + ' (' + player[statBLabel] + ')'}}</li>
    </ol>
  </div>
  <div class="tab-pane fade" [id]="type+statCLabel+'link'" role="tabpanel" [attr.aria-labelledby]="type+statCLabel">
    <ol>
      <li *ngFor="let player of statCData">{{ player['player']['fullName'] + ' (' + player[statCLabel] + ')'}}</li>
    </ol>
  </div>
</div>
