<table *ngIf="standings.division && standings.teamRecords" class="table table-striped">
  <thead>
  <tr>
    <th scope="col">{{ standings.division.nameShort | uppercase | slice: 0:3 }}</th>
    <th scope="col">GP</th>
    <th scope="col">W</th>
    <th scope="col">L</th>
    <th scope="col">OT</th>
    <th scope="col">PTS</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let team of standings.teamRecords">
    <th scope="row">{{ idToAbbr(team.team.id) }}</th>
    <td>{{ team.gamesPlayed }}</td>
    <td>{{ team.leagueRecord.wins }}</td>
    <td>{{ team.leagueRecord.losses }}</td>
    <td>{{ team.leagueRecord.ot }}</td>
    <td>{{ team.points }}</td>
  </tr>
  </tbody>
</table>
